<div>
    <ul>
        <li> Transport</li>
        <li>Agriculture</li>
        <li>Electricity</li>
        <li>Education</li>
        <li>Technology</li>
        <li>Salary</li>
        <li>Others</li>

    </ul>
</div>
<div></div>
<div></div>
